
.sub-headline h2 {
    font-size: 22px;
}


.instructions {
    margin-top: 7%;
}


.instructions h3 {
    font-size: 21px;
}

.project-links {
    margin-top: 7%;
}

.project-link {
    margin-bottom: 7%;
}

.project-links .project-link a {
    text-decoration: none;
}

.info-banner {
    margin-top: 5%;
    color: black;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}


/*3D button styling*/

body {
  text-align: center;
  color:#ecf0f1;
  background-color: #2c3e50;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 20px;
}

.button-3d {
  position:relative;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  /* border:solid 1px #f39c12; */
  border: solid 1px #a02720;
  /* background:#e67e22; */
  background: #a02727;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  font-size: 18px;
  
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  /* box-shadow: 0px 6px 0px #d35400; */
  box-shadow: 0px 6px 0px #ce2626;
  
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}